body {
  background-color: #f7e9a6;
  text-align: center;
}

a:visited {
  color: inherit;
}

.navigation-links {
  color: green;
  text-decoration: none;
}

.homepage-link {
  padding: 15px;
}

.photo-page-link {
  padding: 15px;
}

.contact-page-link {
  padding: 15px;
}
